<ion-content [fullscreen]="true" class="login-page">

  <app-header title="Connexion" [logged]="false"></app-header>

  <div class="login-container">

    <div class="card">
      <h2>Bienvenue 👋</h2>
      <p class="subtitle">Connecte-toi pour accéder au forum</p>

      <input
        type="text"
        placeholder="Nom d'utilisateur"
        [(ngModel)]="login"
      />

      <input
        type="password"
        placeholder="Mot de passe"
        [(ngModel)]="password"
      />

      <button (click)="tryLogin()">
        Se connecter
      </button>

      <div class="register-link">
        Pas encore de compte ? <span (click)="goToRegister()">Créer un compte</span>
      </div>

    </div>

  </div>

</ion-content>
